.first, .longer, .big, .line-height {
  margin: 20px 0;
  font-size: 22px;
  position: relative;
  display: block;
}

.big {
  font-size: 36px;
}

.line-height {
  background: lightgrey;
  line-height: 2.5;
  width: 250px;
  padding: 10px;
}

.lots {
  line-height: 1.8;
}